*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto' , sans-serif;
    background-color:rgb(37, 40, 42);   
}

#container{   
    width: 70vw;
    height: 70vh;
    transform: translate(20% , 20%);
    background-color: rgb(77, 77, 107);
    padding: 2rem;
}
#newbook{
    background-color: slategray;
}
#inserisci{
    margin-left: 0.5rem;
    color: rgb(77,77,107) ;
}
#delete{
    border-radius: 30px;
    border: none;
    color: rgb(77,77,107);
    padding: 0 0.2rem;
    font-size: 15px;
}
.fatto{
    text-decoration: line-through;
}
li{
    margin: 1rem 0;
}